<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.me.todoservice.dao.ArticleMapper">

	<select id="getById" resultType="org.me.todoservice.schema.Article">
		select * from article where id=#{id}
	</select>

	<insert id="add">
		insert into article(id,title,content,path,folderid,status,inserttime,operatetime,deletetime,usercode)
		values
		(#{a.id}, #{a.title}, #{a.content}, #{a.path}, #{a.folderId}, 
		'0', CURRENT_TIMESTAMP(0), CURRENT_TIMESTAMP(0), null, #{a.usercode})
	</insert>
	
	<update id="update">
		update article set title=#{a.title},content=#{a.content},path=#{a.path},
			folderid=#{a.folderId},operatetime=CURRENT_TIMESTAMP(0)
		where id=#{a.id}
	</update>
	
	<delete id="delete">
	<!-- 
		delete from article s
		where id=#{id}
		 -->
		update article set status='2',deletetime=CURRENT_TIMESTAMP(0) where id=#{id}
	</delete>
	
	<select id="getByPage" resultType="org.me.todoservice.schema.Article">
		select * from article where status='0'
		<if test="userCode != null and userCode != ''">
			and usercode=#{userCode}
		</if>
		order by operatetime desc
	</select>
	
	<select id="getArticlesByPage" resultType="org.me.todoservice.schema.Article">
		select * from article 
		<where>
			<choose>
				<when test="folderId != null and folderId != ''">
					folderid=#{folderId}
				</when>
				<otherwise>
					folderid is null
				</otherwise>
			</choose>
			<if test="userCode != null and userCode != ''">
				and usercode=#{userCode}
			</if>
			and status='0'
		</where>
		order by operatetime desc
	</select>


	<select id="getAllArticlesByPage" resultType="org.me.todoservice.schema.Article">
		select * from article
		<where>
			path like concat('%', #{folderId}, '%') and status='0'
			<if test="userCode != null and userCode != ''">
				and usercode=#{userCode}
			</if>
		</where>
		order by operatetime desc
	</select>

	<select id="searchByPage" resultType="org.me.todoservice.schema.Article">
		select * from article where
		 ( title like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%') )
		<if test="status != null and status != ''">
			and status=#{status}
		</if>
		<if test="userCode != null and userCode != ''">
			and usercode=#{userCode}
		</if>
		order by operatetime desc
	</select>


	<select id="getDeleteByPage" resultType="org.me.todoservice.schema.Article">
		select * from article where status='2'
		<if test="userCode != null and userCode != ''">
			and usercode=#{userCode}
		</if>
		order by operatetime desc
	</select>

	<update id="recover">
		update article set status='0' where id=#{id}
	</update>
</mapper>