<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.me.todoservice.dao.CommonMapper">

  <select id="genId" resultType="Integer">
  	select NEXT VALUE FOR id_seq
  </select>
  
</mapper>