<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.me.todoservice.dao.TodoMapper">

	<select id="getById" resultType="org.me.todoservice.schema.Todo">
		select * from todo where id=#{id}
	</select>
	
	<select id="listTodo" resultType="org.me.todoservice.schema.Todo">
		select * from todo where status='0' and (operatetime is null or operatetime &lt; CURRENT_TIMESTAMP(0))
		order by inserttime 
	</select>

	<insert id="add">
		insert into todo(id,content,type,status,inserttime,operatetime,finishtime)
		values
		(#{todo.id}, #{todo.content}, '0', '0', CURRENT_TIMESTAMP(0), null, null)
	</insert>
</mapper>